<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="addNewsCtrl">
    <h1>news</h1>
    <div >
      <select name="" id="">
        <option value="SE">Sweden</option>
      </select>
      <button type="submit" ng-click="type()">klick</button>
   
  
    

<div ng-repeat="new in news">
    <h2 > {{new.title}}</h2>
<p>{{new.description}}</p>
<img ng-src="{{new.urlToImage}} " alt="en bild" width="500px;">
</div>


</div>
<div ng-view></div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="serveses.js"></script>
   
   
</body>
</html>